kivy
pybullet
pyttsx3
geopy
osmnx
pyproj
pyppeteer
textblob
openai
beautifulsoup4
nltk
requests
cv2
pytesseract
pandas
h5py
datasets
huggingface_hub
pygments
networkx
matplotlib
python-lexers
nest_asyncio
cohere