beautifulsoup4==4.12.3
cohere==5.6.2
geopy==2.4.1
kivy==2.3.0
Kivy_examples==2.2.1
kivymd==1.1.1
matplotlib==3.8.4
mistralai==0.4.2
networkx==2.8.8
nltk==3.8.1
numpy==1.20.3
objloader==0.2.0
openai==1.38.0
opencv_python_headless==4.6.0.66
osmnx==1.9.4
Pygments==2.10.0
pyproj==3.6.0
pytesseract==0.3.10
pyttsx3==2.90
requests==2.32.3
textblob==0.17.1